<%- include('partials/header') %>

        <style>
            body {
            align-items: flex-start;
            }
        </style>
        <div class="table-wrapper">
            <a class="button button-dark" href="/data" role="button">Back</a>
            <% if (owners.length === 0) { %>
                <h1>No deleted users yet!</h1>
                <% } else { %>
                    <table class="deleted-table table" loading="lazy">
                        <thead>
                            <tr>
                                <th scope="col">Delete</th>
                                <th scope="col">Restore</th>
                                <th scope="col">Reason</th>
                                <th scope="col">By whom</th>
                                <th scope="col">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <form action="/restore" id="add" method="post"></form>
                            <form action="/deleteForever" id="delete" method="post"></form>
                            <% owners.forEach(owner=> { %>
                                <tr>
                                    <td>
                                        <button class="button button-delete" name="ownerIdToBeDeleted"
                                            value="<%=owner.id%>" form="delete">
                                            <i class="fa-solid fa-user-minus"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="button button-dark button-delete" name="ownerId" value="<%=owner.id%>"
                                            form="add">
                                            <i class="fa-solid fa-user-plus"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <%=owner.note%>
                                    </td>
                                    <td>
                                        <%=owner.byWhom%>
                                    </td>
                                    <td>
                                        <%=owner.name%>
                                    </td>
                                </tr>
                            <% }) %>

                        </tbody>
                    </table>
                <% } %>
                        
        </div>
    </div>





    <%- include('partials/footer') %>